@font-face {
  font-family: 'clock-face';
  src: url('../font/clock-face.eot?27287472');
  src: url('../font/clock-face.eot?27287472#iefix') format('embedded-opentype'),
       url('../font/clock-face.woff2?27287472') format('woff2'),
       url('../font/clock-face.woff?27287472') format('woff'),
       url('../font/clock-face.ttf?27287472') format('truetype'),
       url('../font/clock-face.svg?27287472#clock-face') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'clock-face';
    src: url('../font/clock-face.svg?27287472#clock-face') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "clock-face";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-02:10:before { content: '\e800'; } /* '' */
.icon-02:15:before { content: '\e801'; } /* '' */
.icon-02:20:before { content: '\e802'; } /* '' */
.icon-02:25:before { content: '\e803'; } /* '' */
.icon-02:30:before { content: '\e804'; } /* '' */
.icon-02:35:before { content: '\e805'; } /* '' */
.icon-02:40:before { content: '\e806'; } /* '' */
.icon-02:45:before { content: '\e807'; } /* '' */
.icon-02:50:before { content: '\e808'; } /* '' */
.icon-02:55:before { content: '\e809'; } /* '' */
.icon-03:00:before { content: '\e80a'; } /* '' */
.icon-03:05:before { content: '\e80b'; } /* '' */
.icon-03:10:before { content: '\e80c'; } /* '' */
.icon-03:15:before { content: '\e80d'; } /* '' */
.icon-03:20:before { content: '\e80e'; } /* '' */
.icon-03:25:before { content: '\e80f'; } /* '' */
.icon-03:30:before { content: '\e810'; } /* '' */
.icon-03:35:before { content: '\e811'; } /* '' */
.icon-03:40:before { content: '\e812'; } /* '' */
.icon-03:45:before { content: '\e813'; } /* '' */
.icon-03:50:before { content: '\e814'; } /* '' */
.icon-03:55:before { content: '\e815'; } /* '' */
.icon-04:00:before { content: '\e816'; } /* '' */
.icon-04:05:before { content: '\e817'; } /* '' */
.icon-04:10:before { content: '\e818'; } /* '' */
.icon-04:15:before { content: '\e819'; } /* '' */
.icon-04:20:before { content: '\e81a'; } /* '' */
.icon-04:25:before { content: '\e81b'; } /* '' */
.icon-04:30:before { content: '\e81c'; } /* '' */
.icon-04:35:before { content: '\e81d'; } /* '' */
.icon-04:40:before { content: '\e81e'; } /* '' */
.icon-04:45:before { content: '\e81f'; } /* '' */
.icon-04:50:before { content: '\e820'; } /* '' */
.icon-04:55:before { content: '\e821'; } /* '' */
.icon-05:00:before { content: '\e822'; } /* '' */
.icon-05:05:before { content: '\e823'; } /* '' */
.icon-05:10:before { content: '\e824'; } /* '' */
.icon-05:15:before { content: '\e825'; } /* '' */
.icon-05:20:before { content: '\e826'; } /* '' */
.icon-05:25:before { content: '\e827'; } /* '' */
.icon-05:30:before { content: '\e828'; } /* '' */
.icon-05:35:before { content: '\e829'; } /* '' */
.icon-05:40:before { content: '\e82a'; } /* '' */
.icon-05:45:before { content: '\e82b'; } /* '' */
.icon-05:50:before { content: '\e82c'; } /* '' */
.icon-05:55:before { content: '\e82d'; } /* '' */
.icon-06:00:before { content: '\e82e'; } /* '' */
.icon-06:05:before { content: '\e82f'; } /* '' */
.icon-06:10:before { content: '\e830'; } /* '' */
.icon-06:15:before { content: '\e831'; } /* '' */
.icon-06:20:before { content: '\e832'; } /* '' */
.icon-06:25:before { content: '\e833'; } /* '' */
.icon-06:30:before { content: '\e834'; } /* '' */
.icon-06:35:before { content: '\e835'; } /* '' */
.icon-06:40:before { content: '\e836'; } /* '' */
.icon-06:45:before { content: '\e837'; } /* '' */
.icon-06:50:before { content: '\e838'; } /* '' */
.icon-06:55:before { content: '\e839'; } /* '' */
.icon-07:00:before { content: '\e83a'; } /* '' */
.icon-07:05:before { content: '\e83b'; } /* '' */
.icon-07:10:before { content: '\e83c'; } /* '' */
.icon-07:15:before { content: '\e83d'; } /* '' */
.icon-07:20:before { content: '\e83e'; } /* '' */
.icon-07:25:before { content: '\e83f'; } /* '' */
.icon-07:30:before { content: '\e840'; } /* '' */
.icon-07:35:before { content: '\e841'; } /* '' */
.icon-07:40:before { content: '\e842'; } /* '' */
.icon-07:45:before { content: '\e843'; } /* '' */
.icon-07:50:before { content: '\e844'; } /* '' */
.icon-07:55:before { content: '\e845'; } /* '' */
.icon-08:00:before { content: '\e846'; } /* '' */
.icon-08:05:before { content: '\e847'; } /* '' */
.icon-08:10:before { content: '\e848'; } /* '' */
.icon-08:15:before { content: '\e849'; } /* '' */
.icon-08:20:before { content: '\e84a'; } /* '' */
.icon-08:25:before { content: '\e84b'; } /* '' */
.icon-08:30:before { content: '\e84c'; } /* '' */
.icon-08:35:before { content: '\e84d'; } /* '' */
.icon-08:40:before { content: '\e84e'; } /* '' */
.icon-08:45:before { content: '\e84f'; } /* '' */
.icon-08:50:before { content: '\e850'; } /* '' */
.icon-08:55:before { content: '\e851'; } /* '' */
.icon-09:00:before { content: '\e852'; } /* '' */
.icon-09:05:before { content: '\e853'; } /* '' */
.icon-09:10:before { content: '\e854'; } /* '' */
.icon-09:15:before { content: '\e855'; } /* '' */
.icon-09:20:before { content: '\e856'; } /* '' */
.icon-09:25:before { content: '\e857'; } /* '' */
.icon-09:30:before { content: '\e858'; } /* '' */
.icon-09:35:before { content: '\e859'; } /* '' */
.icon-09:40:before { content: '\e85a'; } /* '' */
.icon-09:45:before { content: '\e85b'; } /* '' */
.icon-09:50:before { content: '\e85c'; } /* '' */
.icon-09:55:before { content: '\e85d'; } /* '' */
.icon-10:00:before { content: '\e85e'; } /* '' */
.icon-10:05:before { content: '\e85f'; } /* '' */
.icon-10:10:before { content: '\e860'; } /* '' */
.icon-10:15:before { content: '\e861'; } /* '' */
.icon-10:20:before { content: '\e862'; } /* '' */
.icon-10:25:before { content: '\e863'; } /* '' */
.icon-10:30:before { content: '\e864'; } /* '' */
.icon-10:35:before { content: '\e865'; } /* '' */
.icon-10:40:before { content: '\e866'; } /* '' */
.icon-10:45:before { content: '\e867'; } /* '' */
.icon-10:50:before { content: '\e868'; } /* '' */
.icon-10:55:before { content: '\e869'; } /* '' */
.icon-11:00:before { content: '\e86a'; } /* '' */
.icon-11:05:before { content: '\e86b'; } /* '' */
.icon-11:10:before { content: '\e86c'; } /* '' */
.icon-11:15:before { content: '\e86d'; } /* '' */
.icon-11:20:before { content: '\e86e'; } /* '' */
.icon-11:25:before { content: '\e86f'; } /* '' */
.icon-11:30:before { content: '\e870'; } /* '' */
.icon-11:35:before { content: '\e871'; } /* '' */
.icon-11:40:before { content: '\e872'; } /* '' */
.icon-11:45:before { content: '\e873'; } /* '' */
.icon-11:50:before { content: '\e874'; } /* '' */
